* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	color: #a09038;
	font-family: 'Poppins', sans-serif;

}

ul{
	list-style: none;
	font-weight: 500; 
}

a{
	text-decoration: none;
}
body{
	background: url(./img/bg.jpg) no-repeat center center	fixed;
	background-size: cover;
	/*background-color: #0f2027*;/
	/*background: linear-gradient(90deg,#fff,#000)*/

}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;

}

header ul{
	display: flex;
}
 header ul li{
 	padding: 10px;
 	border-bottom: 2px dashed #fff;
  }

  header ul li a{
  	transition:200ms;
  }

  header ul li a:hover{
  	color: #c0a717;
  	text-decoration: underline

  }

.container{
	text-align: center;
}

.container .name h1 {
	font-size: 35px;
}

.container .name h5 {
	font-size: 20px;
}

#arrow{
	font-size: 40px;
	animation: blink 1s steps(5,start) infinite;
}

@keyframes blink{
	to {
		visibility: hidden;
	}
}

#animation{
	transition: 500ms;
	cursor:pointer;
}
.rotate{
	transform: rotate(180deg);
	transition:500ms;
}

.active{
	display:block !important;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: slide-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	display:block !important;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


#about p {
	max-width: 600px;
	margin: 0 auto;
	transition: 300ms;
}

.form {
	width: 40%;
	margin: 0 auto;
	margin-top: 30px;

}

.form input {
	width: 50%;
	padding: 5px 10px;
	min-width: 170px;
	border:none;
	border-radius: 5px 0 0 5px;
	
}
.form button{
	width: 15%;
	padding: 5px 10px;
	background: linear-gradient(to right, #c0a717 50%, #464646 50%);
	background-size: 200% 100%;
	background-position: right bottom ;
	color: #fff;
	font-weight: 500;
	cursor: poiter;
	transition: 300ms;
	border:none;
	border-radius: 0 5px 5px 0;
	margin-left: -5px;
	
}

.form button:hover{
	background-position: left bottom;
}


@media only screen and (max-width: 1080px){

	.form{
		width:60%;
	}
}

@media only screen and (max-width: 780px){

	.form{
		width:85%;
	}
}

@media only screen and (max-width: 480px){
	.container .name h1{
		font-size: 35px;
	}
	.container .name h5{
		font-size: 15px;
	}

	#about p {
		max-width: 80%;
		text-align: justify;
	}
	.form {
		width:100%;
	}
}